name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Cache Nix store
        uses: cachix/cachix-action@v15
        with:
          name: nix-community
          skipPush: true

      - name: Run tests
        run: nix develop --command cargo test --verbose

      - name: Run clippy
        run: nix develop --command cargo clippy -- -D warnings

      - name: Check formatting
        run: nix develop --command cargo fmt -- --check
